@font-face {
	font-family: "Bebas Kai";
	src: url("/style/BebasKai.ttf") format("ttf");
}	

body {
	background-color: #1b1b1b;
	color: #de0000;
	font-family: "Bebas Kai", sans-serif;
	width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
	display: block;
	white-space: nowrap;
}

body > div {
	background-color: #1c1c1c;
	width: 90%;
}

div [class^="o"] {
	display: inline;
	font-style: italic;
}

div .oops {
	text-decoration: line-through;
}

div .okay {
	text-decoration: underline;
}

a:hover {
	color: #fff708;
}

a:visited {
	color: #700000;
}

a:link {
	color: #000d48;
}

h1 {
	font-size: 300%;
}

#construction {
	font-size: 250%;
}

#youtube {
	font-size: 200%;
}

#twitch {
	font-size: 200%;
}
