@font-face {
	font-family: "Bebas Kai";
	src: url(https://dl.dafont.com/dl/?f=bebas_kai);
}	

body {
	background-color: #1b1b1b;
	color: #de0000;
	font-family: "Bebas Kai", sans-serif;
	width: 100%;
	margin: auto;
	text-align: center;
	display: block;
}

body > div {
	background-color: #1c1c1c;
	width: 90%;
}

a:hover {
	color: #fff708;
}

a:visited {
	color: #700000;
}

a:link {
	color: #000d48;
}

h1 {
	font-size: 48px;
}

div #construction {
	font-size: 42px;
}

div #youtube {
	font-size: 24px;
}

div #twitch {
	font-size: 24px;
}
